header{
    background-color: darkgrey;
    min-height: 250px;
    width: 80%;
    margin-top: -10px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}
#copertina {
    /* width: 1fr; */
    border:1px solid black;
    border-radius:30px;
    /* max-height:300px;
    width: 156px; */
    padding:0px;
    position: relative;
    text-align: center;
    display:cover;
}
#dettaglio{
    margin-left:10%;
    width:80%;
}
.grid-container {
    display: grid;
    grid-template-columns:1fr 4fr;
    grid-column-gap:5px;
    grid-row-gap:5px;
    padding: 0px;
    margin:0px;
}
.grid-item {
    background-color:paleturquoise;
    padding: 0px;
    text-align: center;
    padding: 0px;
    margin:0px;
}

.specifiche {
    border:1px solid black;
    border-radius:30px;
    /* width: 1fr; */
    /* max-height:300px;
    width: 156px; */
    padding:0px;
    position: relative;
    text-align: center;
    display:cover;
}