body{background-color: white}


header{
    background-color: darkgrey;
    min-height: 250px;
    width: 80%;
    margin-top: -10px;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;

}

#sopra{
    background-color: black;
    margin-top: 0px;
    min-height: 20px;
}

#logo{
    height:210px;
    background-image: url("immagini/img_logo.jpeg");
}

#menu{
    text-align: center;
    /* margin-top: 60px; */
    background-color: black;
    min-height: 30px;
}

#menu a{
    color:white;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration-line: none;
    font-size: 1.5em;


}
#piede{
    background-color: black;
    min-height: 150px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

}
#primo{
    padding:10px;
    color: whitesmoke;
}

/* .poster{
    height : 200px;
    width : 150px;
} */

#container{
    margin-left:10%;
    width:80%;
}

.top_anime div div{
    height: 300px;
    background-size:cover;
}
  
.impaginato{
    margin-left: 10%;
    width:80%;
    margin-top: 10px;
}